<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>

    <!-- <div class="a"> -->
    <form action="/signup" method="post">
        <h2>SignUp</h2>
    <!-- <label for="name">Username</label><br>
    <input type="text" name="name" id="name"><br> -->
    <label for="email">Email</label><br>
    <input type="text" name="email" id="email"><br>
    <div class="email"></div><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password"> <br>  
    <div class="password"></div> <br>
    <button type="submit">Submit</button><br>
    <span>Already Registered?</span><a href="/login">Login</a>
</form>
<script>
    let form=document.querySelector("form")
    let emailError=document.querySelector(".email")
    let passwordError=document.querySelector(".password")
    form.addEventListener("submit",async(e)=>{
        e.preventDefault()
        let email=form.email.value
        let password=form.password.value
        let body={email,password}

        // console.log(email,password);
        try {
         let res= await fetch("/signup",{
                method:'POST',
                headers:{"content-type":"application/json"},
                body:JSON.stringify(body)

            })
            let data=await res.json()
            // console.log(data);
            console.log(data);
            if(data.errors){
                emailError.textContent=data.errors.email
                passwordError.textContent=data.errors.password
            }
            if(data.user){
                location.assign("/")
            }
        } catch(err)  {
            console.log(err,"error in posting");
        }
    })
</script>


</body>

</html>